<section id="top">
	<div class="row">
		<div class="large-6 columns large-offset-1">
			<%= image_tag "/assets/binable_logo.png", :class => 'landing-logo' %>
			<p>Enter your email below to get notified when we launch!</p>
			<div class="row">
				<form action="https://docs.google.com/forms/d/1G-6ug_IhaQm3Hgt4rYA0Kic7No9EWYajw5UrbPZSxfI/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
					<div class="small-7 columns">
						<input type="text" placeholder="Email Address" name="entry.678481844" value="" class="ss-q-short" id="entry_678481844" dir="auto" aria-required="true">
						<input type="hidden" name="draftResponse" value="[]
						">
						<input type="hidden" name="pageHistory" value="0">
					</div>
					<div class="small-3 columns end">
						<input class="submit-button" type="submit" name="submit" value="Submit" id="ss-submit">
					</div>
				</form>

			</div>
		</div>
		<div class="large-4 columns end hide-for-small">
			<%= image_tag "/assets/phone_shadow.png", :class => 'landing-phone' %>
		</div>
	</div>
</section>
<section id="bottom">
	<div class="row">
		<div class="large-3 columns large-offset-1">
				<p><a href="https://twitter.com/binable" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @binable</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns large-offset-1">
			<div class="row">
				<div class="large-6 columns">
					<p>Have a spare 2 minutes?</p>
					<div class="row">
						<div class="large-4 columns">
							<%= image_tag "/assets/question_icon.png" %>
						</div>
						<div class="large-8 columns">
							<p>Please complete this quick survey to help us improve our product.<br /><a href="/survey" class="landing-click-here">Click Here</a></p>
						</div>
					</div>
				</div>
				<div class="large-6 columns">
					<p>Download our app soon on</p>
					<%= image_tag "/assets/google_play.png" %>
				</div>
			</div>
		</div>
	</div>
</section>