<body class="leaderboard">
	<section id="leaderboard-map" style="background:url(http://maps.google.com/maps/api/staticmap?center=40.705628,-73.669682&zoom=13&markers=40.703026,-73.669444&size=500x300&sensor=false)">
		<div id="leaderboard-nav" class="center" >
			<p>Community Leaderboard<p>
		</div>
	</section>
</body>
