<body class="mobile">
	<section id="list" class="scans">
		<div class="row">
			<div class="large-columns-12 center">
				<p><strong>DON'T recycle these <br /></strong> in <span class="location">Surry Hills <i class="icon-caret-down"></i></span></p>
			</div>
		</div>
		<div class="row">
			<% @products.each do |p| %>
				<div class="small-6 columns center">
					<a href="/products/<%= p.id %>">
						<div class="circle">
							<%= image_tag "#{p.image_url}", :class => 'product-image' %>
						</div>
					</a>
				</div>
			<% end %>
		</div>
	</section>
  <%= javascript_include_tag "application" %>
</body>