@import "colors";

body.community.scan {
	padding-top:80px;
}
body.community {
	color:white;
	div.community-map {
		text-align:center;
		z-index:-1;
	}
	div.community-nav {
		text-align:center;
		background-color: $green;
		padding: {
			top:10px;
			bottom:10px;
		}
		p {
			padding: 0;
			margin: 0;
		}
	}
	div.community-header {
		text-align:center;
		padding: {
			top:20px;
		};
	}

	ul.community-list {
		margin-top:-20px;
		line-height: 1.0;
		li:first-child {
			border-top:1px solid $light-green;
		}
		li {
			.row {
				margin-top:-15px;
				padding-bottom:10px;
				text-align:left;
			}
			border-bottom: 1px solid $light-green;
			p {
				margin: 0;
				font-size:1.0em;
				font-weight:700;
			}
		}
		li.current {
			border:0;
			background: $blue;
			.circle-small {
				color: $blue;
				background-color: rgba(255,255,255,1.0);
			}
		}
	}

	ul.scan-list {
		margin-top:-20px;
		line-height: 1.0;
		li:first-child {
			border-top:0px solid $light-green;
		}
		li {
			.row {
				margin-top:-15px;
				padding-bottom:10px;
				text-align:left;
			}
			border-bottom: 1px solid $light-green;
			p {
				margin: 0;
				font-size:0.7em;
				font-weight:300;
			}
		}
		li.current {
			border:0;
			background: $blue;
			.circle-small {
				color: $blue;
				background-color: rgba(255,255,255,1.0);
			}
		}
	}
}