@import "colors";

body.leaderboard {
	color:white;

	section#leaderboard-map {
		width:100%;
		min-height:300px;
		div#leaderboard-nav {
			background-color: $green;
			padding: {
				top:20px;
				bottom:20px;
			}
			p {
				padding: 0;
				margin: 0;
			}
		}
	}

}