// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

body.mobile {
	color:white;
	padding-top:10px;
	span.location {
		background: $dark-green;
		padding:3px 8px;
		border-radius: 3px;
	}

	.circle {
		border-radius: 50%;
		width: 180px;
		height: 180px;
		background-color:white;
		margin: 20px auto;
		padding:20px;
		/* width and height can be anything, as long as they're equal */
	}

	img.product-image {
		width:150px;
		height:150px;
		margin:auto;
	}
}