<body class="community">
	<div class="community-map">
		<%= image_tag "http://maps.google.com/maps/api/staticmap?center=40.705628,-73.669682&zoom=15&markers=40.703026,-73.669444&size=500x300&sensor=false" %>
		<div class="community-score">
			<p class="description-huge">You've earned <span class="current-score">345</span></p>
			<p class="description-small">For your community!</p>
		</div>
	</div>
	<div class="community-header">
		<p>Community Rankings</p>
	</div>
	<div class="community-list-container">
		<ul class="community-list">
			<% @communities.each_with_index do |c, i| %>
			<li>
				<div class="row">
					<div class="small-2 columns center">
						<div class="circle-small">
							<p><%= i + 1 %></p>
						</div>
					</div>
					<div class="small-6 columns">
						<p class="left"><%= c.name %></p>
					</div>
					<div class="small-4 columns end">
						<p><i class="icon-trash"></i> &nbsp;<%= c.bins_saved %></p>
					</div>
				</div>
			</li>
			<% end %>
			<li class="current">
				<div class="row">
					<div class="small-2 columns center">
						<div class="circle-small">
							<p>20</p>
						</div>
					</div>
					<div class="small-6 columns">
						<p class="left">Surry Hills</p>
					</div>
					<div class="small-4 columns end">
						<p><i class="icon-trash"></i> &nbsp;2</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</body>
